h2 About
p Pug 템플릿 엔진을 사용하여 문서를 작성할 수 있게 하는 도구입니다.
p 쉽고 간결한 Pug로 문서를 작성해 보세요!
a.button(href='https://pugjs.org') https://pugjs.org
br
br

h3 Demo
a.button(href='http://astro36.me/Pugfolio/example/') http://astro36.me/Pugfolio/example/
br
br

h3 Features
ul
  li Supporting Markdown:
    :markdown-it(linkify)
      > It's very easy to make some words **bold** and other words *italic* with Markdown.
      > You can even [link to Google!](http://google.com)
      > 
      > From GitHub Guides
    pre: code.language-markdown
      | > It's very easy to make some words **bold** and other words *italic* with Markdown.
      | > You can even [link to Google!](http://google.com)
      | > 
      | > From GitHub Guides
  li Using Latex Syntax by Katex:
    p \[ x=\frac{-b\pm\sqrt{b^2-4ac}}{2a} \]
  li Code Highlighting by Prizm:
    pre: code.language-javascript
      | function factorial(m) {
      |   let num = 1;
      |   for (let i = 2; i <= m; i++) {
      |     num *= i;
      |   }
      |   return num;
      | }

h3 Install
ul
  li Install with npm:
    pre: code.language-bash npm install pugfolio -g
  li Clone the repo:
    pre: code.language-git git clone https://github.com/Astro36/Pugfolio.git

h3 Usage
ul
  li To run Pugfolio, use the following format:
    pre: code.language-bash pugfolio [config=pugfolio.json] [output=index.html]
  li Here’s an example <code>pugfolio.json</code> file:
    pre: code.language-json.
      {
        "theme": "skeleton",
        "title": "Pugfolio",
        "subtitle": "Create Your Portfolio using Pug Template Engine",
        "author": "Astro36",
        "description": "My Portfolio",
        "files": ["about.pug", "portfolio.pug"]
      }
    p You can add custom theme on <code>/themes</code> directory as <code>*.theme.zip</code> extension.

h3 License
p Pugfolio is licensed under the GPL 3.0.
p KaTeX is licensed under a MIT License by Khan Academy.
p Materialize is licensed under a MIT License by Dogfalo.
p Prism.js is licensed under a MIT License by Lea Verou.
p Skeleton is licensed under a MIT License by Dave Gamache.
p Font Awesome is licensed under a SIL OFL 1.1 and MIT License by Font Awesome.
p Spoqa Han Sans is licensed under a SIL OFL 1.1 by Spoqa.
