h3.header-400 Features
ul
  li Using Latex Syntax by Katex:
    p \[ x=\frac{b-\sqrt{b^2-4ac}}{2a} \]
  li Code Highlighting by Prizm:
    pre: code.language-javascript
      | function factorial(m) {
      |   let num = 1;
      |   for (let i = 2; i <= m; i++) {
      |     num *= i;
      |   }
      |   return num;
      | }
