link(type='text/css' rel='stylesheet' href=`${assets}/css/custom.css`)
link(type='text/css' rel='stylesheet' href=`${assets}/css/font-awesome.min.css`)
link(type='text/css' rel='stylesheet' href=`${assets}/css/skeleton-2.0.4.css`)
link(type='text/css' rel='stylesheet' href='http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css')