link(type='text/css' rel='stylesheet' href='assets/css/font-awesome.min.css')
link(type='text/css' rel='stylesheet' href='assets/css/katex.min.css')
link(type='text/css' rel='stylesheet' href='assets/css/prism.css')
link(type='text/css' rel='stylesheet' href='assets/css/skeleton.css')
link(type='text/css' rel='stylesheet' href='assets/css/custom.css')
link(type='text/css' rel='stylesheet' href='http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css')