meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='author', content=author)
meta(name='description', content=description)
meta(name='google', content='notranslate')
