extends extends/layout.pug

block content
  .container
    .row
      - let i = 0;
      each content in contents
        .col.s12(class={active: i === 0} id=config.files[i].replace('.pug', ''))
          article !{content}
        - i++;
