link(type='text/css' rel='stylesheet' href='assets/css/katex.min.css')
link(type='text/css' rel='stylesheet' href='assets/css/materialize.min.css' media='screen,projection')
link(type='text/css' rel='stylesheet' href='assets/css/prism.css')
link(type='text/css' rel='stylesheet' href='assets/css/custom.css')
link(type='text/css' rel='stylesheet' href='assets/css/sticky-footer.css')
link(type='text/css' rel='stylesheet' href='assets/css/sticky-header.css')
