.container
  .row
    .col.l6.s12
      h5.white-text Hello World
      p.grey-text.text-lighten-4= description
    .col.l4.offset-l2.s12
      h5.white-text Contact
      ul
        li: a.white-text(href='mailto:astr36@naver.com') E-mail
        li: a.white-text(href='https://github.com/Astro36/Pugfolio') Github
        li: a.white-text(href='http://t.me/psj1026') Telegram
.footer-copyright.grey.darken-4
  .container
    p= `Copyright 2017 ${author}. All rights reserved.`